services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    restart: unless-stopped
    ports:
      - "8001:80"
    volumes:
      - ./bin/storage:/var/www/html/storage
      - ./bin/.env:/var/www/html/.env
    environment:
      - APP_ENV=production
      - APP_DEBUG=false
    # Usar host.docker.internal para conectar al MySQL del host
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: laravel_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - laravel

networks:
  laravel:
    driver: bridge
